// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.metric-box {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 1px 2px #ccc;
}

.metric-box p{
	font-size: 20px;
}
.metric-box h3{
	font-size: 22px;
}
.admin-page .cats .img{
	width:8%;
}
.right{
    float:right;
}
.left{
    float:left;
}
.admin-page .cats .img img{
	width:100%;
}
.cats th{
	background:#12f;
	color:#fff;
	text-transform:uppercase;
	padding:10px!important;
}
.cats td {
    color: #888;
    padding: 7px 15px!important;
    font-size: 19px!important;
    width: 128px;
}
.admin-page  .addBtn{
	float:right;
}
.admin-page .addBtn .btn {
    width: 140px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    background: #772d1c;
    border-color: #772d1c;
}
.create-form{
	width:60%;
	margin:auto;
}
.create-form input, .create-form select{
	margin-bottom:20px;
	height:45px;
}
.create-form .button {
    background: #ca4646;
    border: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px;
}
.simple_form{
	border: 1px solid #ccc;
    border-radius: 15px;
    padding: 50px;
}
.admin-page .glyphicon{
	margin:20px;
}
.admin-page .glyphicon-pencil{
	color:blue;
	text-decoration:none;
}