// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-details .image{
	width:400px;
}
.product-details .image img{
	width:100%;
	margin-top:35%;
}

.product-details .details{
	padding:7%;

}

.product-details .details h5 {
    font-size: 20px;
    font-weight: bold;
    color: #888;
    text-transform: uppercase;
    margin-top: 22px!important;
}
.product-details .details h5 p{
	 color: #888;
	 font-size:15px;
}
.container-fluid.product-details {
    width: 70%;
}
.product-details .details h3{
	font-weight: bold;
    color: #888;
    text-transform: uppercase;
}
.product-details .details h4{
	font-weight: bold;
    color: #888;
}
.sim-products h3 span{
    font-weight: bold;
    color: #888;
    text-transform: uppercase;
    margin-left: 22px;
}