<div class="col-md-2 sidebar">
	<ul>
		<li>
			<a href="#">
				Dashboard
			</a>
		</li>
		
		<li>
			Products
			
		</li>
		<li>
			Categories
		</li>
		<li>
			Ads
		</li>
		<li>
			Cart
		</li>
		<li>
			Orders
		</li>
		<li>
			Logout
		</li>
	</ul>
</div>