<div class="col-md-2 sidebar">
	<ul>
		<li>
			<a href="/admin">
				Dashboard
			</a>
		</li>
		
		<li>
			<a href="/admin/products">
				Products
			</a>
			
		</li>
		<li>
			<a href="/admin/categories">
				Categories
			</a>
		</li>
		<li>
			<a href="/ads">
				Ads
			</a>
		</li>
		<li>
			Cart
		</li>
		<li>
			Orders
		</li>
		<li>
			Logout
		</li>
	</ul>
</div>