<nav class="web-header navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand brand-img" href="/"><%= image_tag('/logo1.png') %></a>
        </div>
        <div class="srch">
          <div class="srch-div">
            <input type="text" class="form-control" placeholder="Search here...">
            <i class="glyphicon glyphicon-search"></i>
          </div>
        </div>
        <ul class="nav navbar-nav">
         
          <li><a href="#">Login <i class="glyphicon glyphicon-lock"></i></a></li>
          <li><a href="#">Signup <i class="glyphicon glyphicon-user"></i></a></li>
        </ul>
      </div>
    </nav>